---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/translate?api_key=<giphy_key>&s=stuff%20happens%20probably
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '40'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '996.22340277778'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"gif","id":"l3vQZuMOvXc1jE1Qk","slug":"colbertlateshow-election-2016-presidential-debate-l3vQZuMOvXc1jE1Qk","url":"https:\/\/giphy.com\/gifs\/colbertlateshow-election-2016-presidential-debate-l3vQZuMOvXc1jE1Qk","bitly_gif_url":"https:\/\/gph.is\/2dqljvn","bitly_url":"https:\/\/gph.is\/2dqljvn","embed_url":"https:\/\/giphy.com\/embed\/l3vQZuMOvXc1jE1Qk","username":"colbertlateshow","source":"https:\/\/www.cbs.com\/shows\/the-late-show-with-stephen-colbert\/","rating":"g","content_url":"","source_tld":"www.cbs.com","source_post_url":"https:\/\/www.cbs.com\/shows\/the-late-show-with-stephen-colbert\/","is_sticker":0,"import_datetime":"2016-10-05
        03:42:08","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media3.giphy.com\/avatars\/colbertlateshow\/0Wl5O8O9NZAe.jpg","banner_url":"","profile_url":"https:\/\/giphy.com\/colbertlateshow\/","username":"colbertlateshow","display_name":"The
        Late Show With Stephen Colbert","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200_s.gif","width":"362","height":"200","size":"51932"},"original_still":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy_s.gif","width":"480","height":"265","size":"82613"},"fixed_width":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200w.gif","width":"200","height":"110","size":"322964","mp4":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200w.mp4","mp4_size":"19336","webp":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200w.webp","webp_size":"113028"},"fixed_height_small_still":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100_s.gif","width":"181","height":"100","size":"15842"},"fixed_height_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200_d.gif","width":"362","height":"200","size":"286761","webp":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200_d.webp","webp_size":"114852"},"preview":{"width":"350","height":"192","mp4":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy-preview.mp4","mp4_size":"45723"},"fixed_height_small":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100.gif","width":"181","height":"100","size":"265704","mp4":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100.mp4","mp4_size":"17346","webp":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100.webp","webp_size":"99504"},"downsized_still":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy-downsized_s.gif","width":"480","height":"265","size":"82613"},"downsized":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy-downsized.gif","width":"480","height":"265","size":"1457323"},"downsized_large":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy.gif","width":"480","height":"265","size":"1457323"},"fixed_width_small_still":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100w_s.gif","width":"100","height":"55","size":"6093"},"preview_webp":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy-preview.webp","width":"174","height":"96","size":"49452"},"fixed_width_still":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200w_s.gif","width":"200","height":"110","size":"18440"},"fixed_width_small":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100w.gif","width":"100","height":"55","size":"98648","mp4":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100w.mp4","mp4_size":"8197","webp":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100w.webp","webp_size":"39458"},"downsized_small":{"width":"480","height":"264","mp4":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy-downsized-small.mp4","mp4_size":"93523"},"fixed_width_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200w_d.gif","width":"200","height":"110","size":"96130","webp":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200w_d.webp","webp_size":"43146"},"downsized_medium":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy.gif","width":"480","height":"265","size":"1457323"},"original":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy.gif","width":"480","height":"265","size":"1457323","frames":"18","mp4":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy.mp4","mp4_size":"103587","webp":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy.webp","webp_size":"447982","hash":"c76015f9f26c6f68425c733cc23b83e8"},"fixed_height":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200.gif","width":"362","height":"200","size":"904697","mp4":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200.mp4","mp4_size":"50212","webp":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200.webp","webp_size":"269030"},"looping":{"mp4":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy-loop.mp4","mp4_size":"763551"},"original_mp4":{"width":"480","height":"264","mp4":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy.mp4","mp4_size":"103587"},"preview_gif":{"url":"https:\/\/media2.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy-preview.gif","width":"130","height":"72","size":"47149"},"480w_still":{"url":"https:\/\/media4.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/480w_s.jpg","width":"480","height":"265"}},"title":"okay
        but its probably not going to happen stephen colbert GIF by The Late Show
        With Stephen Colbert"},"meta":{"status":200,"msg":"OK","response_id":"5c76c0915030464a55240e17"}}'
  recorded_at: Wed, 27 Feb 2019 16:53:37 GMT
recorded_with: VCR 4.0.0
