---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/translate?api_key=<giphy_key>&s=stuff%20happens%20probably
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '40'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '998'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"gif","id":"l3vQZuMOvXc1jE1Qk","slug":"colbertlateshow-election-2016-presidential-debate-l3vQZuMOvXc1jE1Qk","url":"https:\/\/giphy.com\/gifs\/colbertlateshow-election-2016-presidential-debate-l3vQZuMOvXc1jE1Qk","bitly_gif_url":"https:\/\/gph.is\/2dqljvn","bitly_url":"https:\/\/gph.is\/2dqljvn","embed_url":"https:\/\/giphy.com\/embed\/l3vQZuMOvXc1jE1Qk","username":"colbertlateshow","source":"https:\/\/www.cbs.com\/shows\/the-late-show-with-stephen-colbert\/","rating":"g","content_url":"","source_tld":"www.cbs.com","source_post_url":"https:\/\/www.cbs.com\/shows\/the-late-show-with-stephen-colbert\/","is_sticker":0,"import_datetime":"2016-10-05
        03:42:08","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media0.giphy.com\/avatars\/colbertlateshow\/0Wl5O8O9NZAe.jpg","banner_url":"","profile_url":"https:\/\/giphy.com\/colbertlateshow\/","username":"colbertlateshow","display_name":"The
        Late Show With Stephen Colbert","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200_s.gif","width":"362","height":"200","size":"29763"},"original_still":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy_s.gif","width":"480","height":"265","size":"80555"},"fixed_width":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200w.gif","width":"200","height":"110","size":"191581","mp4":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200w.mp4","mp4_size":"38707","webp":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200w.webp","webp_size":"116848"},"fixed_height_small_still":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100_s.gif","width":"181","height":"100","size":"11441"},"fixed_height_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200_d.gif","width":"362","height":"200","size":"188599","webp":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200_d.webp","webp_size":"108438"},"preview":{"width":"189","height":"104","mp4":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy-preview.mp4","mp4_size":"21082"},"fixed_height_small":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100.gif","width":"181","height":"100","size":"167131","mp4":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100.mp4","mp4_size":"34748","webp":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100.webp","webp_size":"98850"},"downsized_still":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy_s.gif","width":"480","height":"265","size":"80555"},"downsized":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy.gif","width":"480","height":"265","size":"1071100"},"downsized_large":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy.gif","width":"480","height":"265","size":"1071100"},"fixed_width_small_still":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100w_s.gif","width":"100","height":"55","size":"4274"},"preview_webp":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy-preview.webp","width":"166","height":"92","size":"43062"},"fixed_width_still":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200w_s.gif","width":"200","height":"110","size":"14137"},"fixed_width_small":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100w.gif","width":"100","height":"55","size":"60560","mp4":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100w.mp4","mp4_size":"14309","webp":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/100w.webp","webp_size":"38064"},"downsized_small":{"width":"378","height":"208","mp4":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy-downsized-small.mp4","mp4_size":"60463"},"fixed_width_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200w_d.gif","width":"200","height":"110","size":"68066","webp":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200w_d.webp","webp_size":"40636"},"downsized_medium":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy.gif","width":"480","height":"265","size":"1071100"},"original":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy.gif","width":"480","height":"265","size":"1071100","frames":"18","mp4":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy.mp4","mp4_size":"263246","webp":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy.webp","webp_size":"402460","hash":"553368de2203377a862000b169adb46d"},"fixed_height":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200.gif","width":"362","height":"200","size":"517824","mp4":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200.mp4","mp4_size":"116642","webp":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/200.webp","webp_size":"302628"},"looping":{"mp4":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy-loop.mp4","mp4_size":"1980187"},"original_mp4":{"width":"480","height":"264","mp4":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy.mp4","mp4_size":"263246"},"preview_gif":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/giphy-preview.gif","width":"134","height":"74","size":"48445"},"480w_still":{"url":"https:\/\/media0.giphy.com\/media\/l3vQZuMOvXc1jE1Qk\/480w_s.jpg","width":"480","height":"265"}},"title":"okay
        but its probably not going to happen stephen colbert GIF by The Late Show
        With Stephen Colbert"},"meta":{"status":200,"msg":"OK","response_id":"5c8d6492735a41486fc397fb"}}'
  recorded_at: Sat, 16 Mar 2019 21:03:14 GMT
recorded_with: VCR 4.0.0
