---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/translate?api_key=<giphy_key>&s=Mostly%20sunny%20in%20the%20morning
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '39'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '997'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"gif","id":"bhRaRoOESzsfC","slug":"morning-glory-bhRaRoOESzsfC","url":"https:\/\/giphy.com\/gifs\/morning-glory-bhRaRoOESzsfC","bitly_gif_url":"https:\/\/gph.is\/29omfsp","bitly_url":"https:\/\/gph.is\/29omfsp","embed_url":"https:\/\/giphy.com\/embed\/bhRaRoOESzsfC","username":"youramazing","source":"https:\/\/www.pluginsweb.com\/2016\/05\/15\/111-romantic-good-morning-love-messages-for-him-her-with-images\/","rating":"g","content_url":"","source_tld":"www.pluginsweb.com","source_post_url":"https:\/\/www.pluginsweb.com\/2016\/05\/15\/111-romantic-good-morning-love-messages-for-him-her-with-images\/","is_sticker":0,"import_datetime":"2016-07-09
        05:31:49","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media2.giphy.com\/avatars\/youramazing\/gecl9trKuaSw.gif","banner_url":"","profile_url":"https:\/\/giphy.com\/channel\/youramazing\/","username":"youramazing","display_name":"","is_verified":false},"images":{"fixed_height_still":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/200_s.gif","width":"222","height":"200"},"original_still":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/giphy_s.gif","width":"500","height":"450"},"fixed_width":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/200w.gif","width":"200","height":"180","size":"193977","mp4":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/200w.mp4","mp4_size":"12570","webp":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/200w.webp","webp_size":"148892"},"fixed_height_small_still":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/100_s.gif","width":"111","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/200_d.gif","width":"222","height":"200","size":"112133","webp":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/200_d.webp","webp_size":"75622"},"preview":{"width":"368","height":"330","mp4":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/giphy-preview.mp4","mp4_size":"33963"},"fixed_height_small":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/100.gif","width":"111","height":"100","size":"64205","mp4":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/100.mp4","mp4_size":"5082","webp":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/100.webp","webp_size":"56046"},"downsized_still":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/giphy-downsized_s.gif","width":"500","height":"450","size":"138225"},"downsized":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/giphy-downsized.gif","width":"500","height":"450","size":"1927631"},"downsized_large":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/giphy.gif","width":"500","height":"450","size":"1927631"},"fixed_width_small_still":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/100w_s.gif","width":"100","height":"90"},"preview_webp":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/giphy-preview.webp","width":"170","height":"153","size":"49536"},"fixed_width_still":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/200w_s.gif","width":"200","height":"180"},"fixed_width_small":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/100w.gif","width":"100","height":"90","size":"52392","mp4":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/100w.mp4","mp4_size":"4763","webp":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/100w.webp","webp_size":"47990"},"downsized_small":{"width":"500","height":"450","mp4":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/giphy-downsized-small.mp4","mp4_size":"91400"},"fixed_width_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/200w_d.gif","width":"200","height":"180","size":"92248","webp":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/200w_d.webp","webp_size":"64102"},"downsized_medium":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/giphy.gif","width":"500","height":"450","size":"1927631"},"original":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/giphy.gif","width":"500","height":"450","size":"1927631","frames":"14","mp4":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/giphy.mp4","mp4_size":"48502","webp":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/giphy.webp","webp_size":"825520"},"fixed_height":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/200.gif","width":"222","height":"200","size":"237559","mp4":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/200.mp4","mp4_size":"14206","webp":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/200.webp","webp_size":"175842"},"looping":{"mp4":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/giphy-loop.mp4","mp4_size":"1288885"},"original_mp4":{"width":"480","height":"432","mp4":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/giphy.mp4","mp4_size":"48502"},"preview_gif":{"url":"https:\/\/media2.giphy.com\/media\/bhRaRoOESzsfC\/giphy-preview.gif","width":"162","height":"146","size":"38051"},"480w_still":{"url":"https:\/\/media1.giphy.com\/media\/bhRaRoOESzsfC\/480w_s.jpg","width":"480","height":"432"}},"title":"good
        morning love GIF by youramazing"},"meta":{"status":200,"msg":"OK","response_id":"5c7418d8374a6842776bdc07"}}'
  recorded_at: Mon, 25 Feb 2019 16:33:27 GMT
recorded_with: VCR 4.0.0
