---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/translate?api_key=<giphy_key>&s=Mostly%20sunny%20in%20the%20morning
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '40'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '996.22368055556'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"gif","id":"HvYdoLbPqSdNu","slug":"sunny-HvYdoLbPqSdNu","url":"https:\/\/giphy.com\/gifs\/sunny-HvYdoLbPqSdNu","bitly_gif_url":"https:\/\/gph.is\/2cvRNDo","bitly_url":"https:\/\/gph.is\/2cvRNDo","embed_url":"https:\/\/giphy.com\/embed\/HvYdoLbPqSdNu","username":"","source":"https:\/\/columbianewsandviews.com\/2014\/06\/14\/yippee-a-sunny-weekend\/","rating":"g","content_url":"","source_tld":"columbianewsandviews.com","source_post_url":"https:\/\/columbianewsandviews.com\/2014\/06\/14\/yippee-a-sunny-weekend\/","is_sticker":0,"import_datetime":"2016-09-11
        18:09:52","trending_datetime":"0000-00-00 00:00:00","images":{"fixed_height_still":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/200_s.gif","width":"283","height":"200"},"original_still":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/giphy_s.gif","width":"300","height":"212"},"fixed_width":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/200w.gif","width":"200","height":"141","size":"155663","mp4":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/200w.mp4","mp4_size":"22743","webp":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/200w.webp","webp_size":"75714"},"fixed_height_small_still":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/100_s.gif","width":"142","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/200_d.gif","width":"283","height":"200","size":"147793","webp":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/200_d.webp","webp_size":"64342"},"preview":{"width":"270","height":"190","mp4":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/giphy-preview.mp4","mp4_size":"36389"},"fixed_height_small":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/100.gif","width":"142","height":"100","size":"83410","mp4":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/100.mp4","mp4_size":"14900","webp":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/100.webp","webp_size":"44884"},"downsized_still":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/giphy-downsized_s.gif","width":"300","height":"212","size":"31981"},"downsized":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/giphy-downsized.gif","width":"300","height":"212","size":"363333"},"downsized_large":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/giphy.gif","width":"300","height":"212","size":"363333"},"fixed_width_small_still":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/100w_s.gif","width":"100","height":"71"},"preview_webp":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/giphy-preview.webp","width":"180","height":"127","size":"49716"},"fixed_width_still":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/200w_s.gif","width":"200","height":"141"},"480w_still":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/480w_s.jpg","width":"480","height":"339","size":"17298"},"fixed_width_small":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/100w.gif","width":"100","height":"71","size":"48056","mp4":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/100w.mp4","mp4_size":"10295","webp":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/100w.webp","webp_size":"28502"},"downsized_small":{"width":"300","height":"212","mp4":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/giphy-downsized-small.mp4","mp4_size":"53871"},"fixed_width_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/200w_d.gif","width":"200","height":"141","size":"76678","webp":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/200w_d.webp","webp_size":"35802"},"downsized_medium":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/giphy.gif","width":"300","height":"212","size":"363333"},"original":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/giphy.gif","width":"300","height":"212","size":"363333","frames":"13","mp4":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/giphy.mp4","mp4_size":"88445","webp":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/giphy.webp","webp_size":"165986"},"fixed_height":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/200.gif","width":"283","height":"200","size":"300073","mp4":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/200.mp4","mp4_size":"36862","webp":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/200.webp","webp_size":"138388"},"looping":{"mp4":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/giphy-loop.mp4","mp4_size":"1482005"},"original_mp4":{"width":"480","height":"338","mp4":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/giphy.mp4","mp4_size":"88445"},"preview_gif":{"url":"https:\/\/media0.giphy.com\/media\/HvYdoLbPqSdNu\/giphy-preview.gif","width":"117","height":"83","size":"48808"}},"title":"sunny
        GIF"},"meta":{"status":200,"msg":"OK","response_id":"5c76c095735a325536b55dba"}}'
  recorded_at: Wed, 27 Feb 2019 16:53:41 GMT
recorded_with: VCR 4.0.0
