---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/translate?api_key=<giphy_key>&s=Mostly%2Bsunny%20in%20the%20morning
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"gif","id":"3o7bubaeGyuCOb3HqM","slug":"sunnyfxx-dance-morning-3o7bubaeGyuCOb3HqM","url":"https:\/\/giphy.com\/gifs\/sunnyfxx-dance-morning-3o7bubaeGyuCOb3HqM","bitly_gif_url":"https:\/\/gph.is\/2muMeIw","bitly_url":"https:\/\/gph.is\/2muMeIw","embed_url":"https:\/\/giphy.com\/embed\/3o7bubaeGyuCOb3HqM","username":"sunnyfxx","source":"","rating":"g","content_url":"","source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2017-03-06
        22:51:17","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media3.giphy.com\/avatars\/sunnyfxx\/lvOnZ1y8DQ8n.jpg","banner_url":"https:\/\/media3.giphy.com\/headers\/sunnyfxx\/JSiSwTtThK6j.jpg","banner_image":"https:\/\/media3.giphy.com\/headers\/sunnyfxx\/JSiSwTtThK6j.jpg","profile_url":"https:\/\/giphy.com\/sunnyfxx\/","username":"sunnyfxx","display_name":"It''s
        Always Sunny in Philadelphia","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/200_s.gif","width":"400","height":"200","size":"46763"},"original_still":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/giphy_s.gif","width":"480","height":"240","size":"65755"},"fixed_width":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/200w.gif","width":"200","height":"100","size":"462565","mp4":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/200w.mp4","mp4_size":"40034","webp":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/200w.webp","webp_size":"133266"},"fixed_height_small_still":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/100_s.gif","width":"200","height":"100","size":"14309"},"fixed_height_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/200_d.gif","width":"400","height":"200","size":"278610","webp":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/200_d.webp","webp_size":"75106"},"preview":{"width":"366","height":"182","mp4":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/giphy-preview.mp4","mp4_size":"45877"},"fixed_height_small":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/100.gif","width":"200","height":"100","size":"471679","mp4":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/100.mp4","mp4_size":"37675","webp":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/100.webp","webp_size":"133742"},"downsized_still":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/giphy-downsized_s.gif","width":"250","height":"124","size":"20478"},"downsized":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/giphy-downsized.gif","width":"250","height":"124","size":"672840"},"downsized_large":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/giphy.gif","width":"480","height":"240","size":"2232736"},"fixed_width_small_still":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/100w_s.gif","width":"100","height":"50","size":"4938"},"preview_webp":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/giphy-preview.webp","width":"222","height":"111","size":"48216"},"fixed_width_still":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/200w_s.gif","width":"200","height":"100","size":"14025"},"fixed_width_small":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/100w.gif","width":"100","height":"50","size":"158946","mp4":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/100w.mp4","mp4_size":"16557","webp":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/100w.webp","webp_size":"53138"},"downsized_small":{"width":"480","height":"240","mp4":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/giphy-downsized-small.mp4","mp4_size":"156026"},"fixed_width_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/200w_d.gif","width":"200","height":"100","size":"81066","webp":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/200w_d.webp","webp_size":"26990"},"downsized_medium":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/giphy.gif","width":"480","height":"240","size":"2232736"},"original":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/giphy.gif","width":"480","height":"240","size":"2232736","frames":"33","mp4":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/giphy.mp4","mp4_size":"155270","webp":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/giphy.webp","webp_size":"475174","hash":"56bac90bcaf1b7669da615abc38b3741"},"fixed_height":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/200.gif","width":"400","height":"200","size":"1528639","mp4":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/200.mp4","mp4_size":"99414","webp":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/200.webp","webp_size":"335200"},"looping":{"mp4":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/giphy-loop.mp4","mp4_size":"710771"},"original_mp4":{"width":"480","height":"240","mp4":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/giphy.mp4","mp4_size":"155270"},"preview_gif":{"url":"https:\/\/media0.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/giphy-preview.gif","width":"124","height":"62","size":"48816"},"480w_still":{"url":"https:\/\/media1.giphy.com\/media\/3o7bubaeGyuCOb3HqM\/480w_s.jpg","width":"480","height":"240"}},"title":"always
        sunny dance GIF by It''s Always Sunny in Philadelphia"},"meta":{"status":200,"msg":"OK","response_id":"5c7417c168616c59327f6b56"}}'
  recorded_at: Mon, 25 Feb 2019 16:28:48 GMT
recorded_with: VCR 4.0.0
